<section id="first-form">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
             <div class="well">
                 <form [formGroup]="searchForm" (ngSubmit)="onSearchUser(searchForm.value)">
                  <div class="input-group">
                     <input class="btn btn-lg" type="text" placeholder="Nombre de usuario" formControlName="username">
                     <button [disabled]="searchForm.invalid" class="btn btn-info btn-lg" type="submit">Buscar</button>
                  </div>
                  <span class="badge text-bg-danger" *ngIf="username && username.invalid && username.touched">Este campo no es válido</span>
                  <span class="badge text-bg-danger" id="doublevpartners-error-span">No puedes ingresar la palabra "doublevpartners"</span>
                 </form>
             </div>
             <small class="promise"><em>Prueba Front-End David Marquez.</em></small>
            </div>
        </div>
    </div>
</section>

<section *ngIf="this.users_array" id="print-users">
    <div class="container">
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User Id</th>
                        <th scope="col">User Login</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider" id="users-data">
                    <tr *ngFor="let user of this.users_array">
                        <td>{{ user.id }}</td>
                        <td>{{ user.login }}</td>
                        <td>
                            <button [disabled]="user.score < 1" class="btn btn-secondary" (click)="viewUser(user.login)">
                                <i class="fa-solid fa-eye"></i> Ver
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>